*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 55px;
    
    
}
/* START logo */
.logo{
    width: 150px;
}
.logo img{
    width: 100px;
    height: 50px;
}
.logo i{
     font-size: 24px;
     position: absolute;
     top: 15px;
     right: 10px;
}
/* END logo */
/* START icons */
.icons{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
.icons i{
    font-size: 20px;
    padding-top: 7px;
    padding-left: 30px;
}
.icons img{
    width: 33px;
    height: 33px;
    border-radius: 50%;

}
/* END icons */
/* START search */
.search{
    margin-top: 10px;
}
.search input{
    width: 400px;
    height: 35px;
    outline: none;
    border: 1px solid rgb(212, 204, 204);
    direction: rtl;
}
#keyboard{

    position: absolute;
    top:20px ;
    left:39% ;
    color: #909090;
    font-size: 17px;
}
.search button{
    width: 60px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    outline: none;
    position: absolute;
    top:10px ;
    left:34% ;
    border: 1px solid rgb(226, 224, 224);
    cursor: pointer;
    
}
input::placeholder{
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
#mic{
    position: absolute;
    top:10px ;
    left:29% ;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: rgb(226, 224, 224);
    padding-top: 9px;
    padding-left: 12px;
}
/* END search */
/* START main */
main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 90%;
    margin-bottom: 20px;
    font-size: 14px;
}
.headlines{
    color: black;
    background-color: rgb(218, 214, 214);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
#all{
    background-color: black;
    color: white;

}
/* END main */
/* START sidebar */
aside{
    height: 90%;
    width: 8%;
    position: absolute;
    right: 10px;
    top: 60px;
    float: right;
    text-align: center;
    
}
aside p{
    font-size: 12px;
    padding-top: 20px;
}
aside i{
    font-size: 23px;
    padding-top: 20px;
   
}
/* END sidebar */

hr{
    width:90%;
}
section{
    width: 90%;
    height: 500px;
    background-color: rgb(238, 234, 234);
    margin-top: 20px;
    border-top:1px solid #909090;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    


}
section p{
    background-color:black;
    color: white;
    width: 50px;
    margin-top: -25px;
    font-weight: bold;

}
.div1{
    width: 290px;
    height: 180px;
}

#img1{
    width: 290px;
    height: 160px;
    flex-shrink: 1;

}
#img2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 25px;
}
.channel{
    display: flex;
    margin-top: 20px;

}
section h3{
    font-weight: bolder;
}